<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="middle">
        <div class="inner">
          <div style="margin: 10px; margin-bottom: 30px;"><label style="font-size: 25px;">ㅋㅋㅋㅋㅋㅋㅋ</label></div>
          <div style="margin-bottom: 200px;"><label style="color: #d93025;">404 Not Found</label></div><br />
          <a href="/"><button type="button">Home</button></a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/button.js"></script>
  </body>
</html>
