<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="middle">
        <div class="inner">
          <div style="margin: 10px; margin-bottom: 30px;"><label style="font-size: 25px;"><%= user.name %>님</label></div>
          <form id="infoUser" name="infoUser" class="infoForm" action="/users/delete/<%= user.id %>" method="post">
            <div style="margin-bottom: 10px;"><label>모든 데이터는 즉시 DB에서 삭제됩니다</label></div><br />
            <div style="margin-bottom: 10px;"><label style="color: #d93025;"><%= userError %></label></div><br />
            <input type="password" id="password" name="user[password]" value="" placeholder="비밀번호를 입력하세요" autocomplete="off"></input>
            <button type="submit" style="margin-top: 30px; margin-bottom: 100px; background-color: #D93025; color: white">탈퇴</button>
          </form>
          <a href="javascript:history.back()"><button type="button">Back</button></a>
          <a href="/users"><button type="button"><%= user.name %>님</button></a>
        </div>
      </div>
    </div>
    <% include ../scripts.ejs %>
  </body>
</html>
