<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="middle">
        <div class="inner">
          <div style="margin: 10px; margin-bottom: 250px;"><label style="font-size: 25px;"><%= user.name %>님</label></div>
          <a href="/users/edit"><button class="lineBtn" type="button">수정하기</button></a>
          <a href="/users/delete"><button type="button" style="background-color: #D93025; color: white">탈퇴하기</button></a><br />
          <a href="javascript:history.back()"><button type="button">Back</button></a>
        </div>
      </div>
    </div>
    <% include ../scripts.ejs %>
  </body>
</html>
