<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body>
    <div class="navigationBar">
      <div class="notice">공지: ...</div>
      <div class="buttons">
        <% if (!user) { %>
          <a href="/users/new"><button type="button">회원가입</button></a>
          <a href="/login"><button type="button" class="lineBtn">로그인</button></a>
        <% } else { %>
          <a href="/users"><button type="button" class="<%= user.admin === true ? 'admin' : '' %>"><%= user.name %>님</button></a>
          <a href="/logout"><button type="button">로그아웃</button></a>
        <% } %>
        <% Array.prototype.forEach.call(posts, function(item) { %>
          <div><%= item %></div>
        <% }); %>
      </div>
    </div>
    <% include ../scripts.ejs %>
  </body>
</html>
